@font-face {
    font-family: 'Mont-reg';
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-thin';
    src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
    background-color: white;
}

.btn {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    /* margin: 10px; */
    outline-width: 0;
    color: black;
}



/* ////header//// */

.main-nav a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    padding: 0;
    margin: 0;
}

.logo-img-header {
    /* margin-top: 10px; */
    width: 150px;
    margin-left: 49px;
}

.container {
    max-width: 1200px;
    /* max-width: 980px; */
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.main-header {
    height: 66px;
    /* box-shadow: inset 0 -6px #1e1e1e; */
    background-color: #ff7f00
    /* margin-bottom: 80px; */
}



.main-header .main-nav li {
    /* border-left: 1px solid #1d1d1d; */
}

.main-header .main-nav li:last-child {
    /* border-right: 1px solid #1d1d1d; */
}

.main-header .main-nav li:hover {
    /* box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a; */
}

.main-header .main-nav a {
    display: block;
    /* padding: 40px; */
    /* width: 130px; */
    /* height: 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:29px ;
    margin-top: 24px;
    margin-bottom: 23px;
    margin-right: 29px;
    font-family: 'Mont-reg' ;
    font-size: 19px;
}

.main-header .main-nav a:last-child {
    margin-right: 57px;
}
.main-header .main-nav a:hover {
    color: #040a2c;
}

/* ///helpers/// */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex.space-between {
    justify-content: space-between;
}

/* ///canvas/// */


.canvas-container { 
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    background-color: #e3e3e3;
    /* width: 541px; */
    /* height: 600px; */
} 

canvas {
  
    display: flex;
    /* margin: 20px auto; */
    border: 1px solid black;
    background-color: cadetblue;
    margin-top: 26px;
    margin-left: 20px;
    margin-bottom: 23px;
}

input {
    font-size: 30px;
}

.image-gallery img {
    /* width: 200px; */
    width: 353px;
    height: 278px;
    object-fit: cover;
}

/* ////grid///// */

/* .grid {
    display: grid;
   
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;

    gap: 5px;
}

.grid-item {
    width: 100px;

} */

/* .grid-container {
    display: grid;
    padding: 10px;
    height: 100%;
    grid-row-gap: 22px;
    grid-column-gap: 21px;
    grid-template-columns: repeat(auto-fit, minmax(353px, 1fr));
    /* grid-template-columns: repeat( 1fr); */
    /* grid-auto-rows: 200px; */
} */

/* .grid-container>* {
    width: 353;
} */

.text-input {
    grid-area: txt-input;
}

.select-line-btn {
    grid-area: select-line;
}

.increase-btn {
    grid-area: increase;
}

.decrease-btn {
    grid-area: decrease;
}

.move-up-btn {
    grid-area: move-up-btn;
}

.move-down-btn {
    grid-area: move-down-btn;
}

.color-select {
    grid-area: color-select;
}

.align-left-btn {
    grid-area: align-left;
}

.align-right-btn {
    grid-area: align-right;
}

.align-center-btn {
    grid-area: align-center;
}

.font-change {
    grid-area: font-change;
}

.delete-btn {
    grid-area: delete-btn;
}

.add-btn {
    grid-area: add-btn;
}
.download-btn {
    grid-area: download-btn;
}

.control-panel {
    /* display: grid; */
    display: flex;
    flex-direction: column;
    /* grid-template-areas: 'txt-input txt-input txt-input txt-input txt-input'
     ' select-line add-btn delete-btn move-up-btn move-down-btn '
      'increase decrease align-left align-center align-right'
       'font-change font-change font-change color-select color-select'
       '. . download-btn . .'; */
    grid-gap: 19px;
    /* background-color: #e3e3e3;
    padding: 10px;
    height: 551px;
    width: 373px; */
    margin-left: 99px;
    /* padding: 20px 10px; */
}

/* .grid-controller>* {
    /* color: red; */
/* } */ 

.second-row> * {
    /* padding: 20px 10px; */
    margin: 0 10px;
}
.third-row> * {
    /* padding: 20px 10px; */
    margin: 0 10px;
}
.fourth-row> * {
    /* padding: 20px 10px; */
    margin: 0 10px;
}

.meme-editor {
    display: flex;
    flex-direction: column;

}

/* ////ICONS//// */

.icon {
    /* background-color: white; */
}
.icon.switch-line-icon  {
    width: 39px;
    height: 38px;
}
.icon.add-txt-icon  {
    width: 39px;
    height: 39px;
}
.icon.delete-icon  {
    width: 35px;
    height: 39px;
}
.icon.increase-txt-icon  {
    width: 38px;
    height: 37px;
}
.icon.decrease-txt-icon  {
    width: 39px;
    height: 37px;
}
.icon.align-left-icon  {
    width: 38px;
    height: 30px;
}
.icon.align-center-icon  {
    width: 39px;
    height: 31px;
}
.icon.align-right-icon  {
    width: 38px;
    height: 30px;
}
.icon.color-icon  {
    width: 39px;
    height: 31px;
}
.icon.download-icon {
    width: 60px;
    height: 56px;
    border-radius: 15px;
}
.icon.move-up-icon {
    width: 45px;
    height: 40px;
}
.icon.move-down-icon {
    width: 45px;
    height: 40px;
}

.fill-color {
    position: relative;
    display: inline-block;
}

.fill-color input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.text-input{
    width: 400px;
  height: 60px;
  border-radius: 12px;
  margin-top: 26px;
  background-color: #ffffff;
}

/* ///BUTTONS//// */

.font-family-selection {
    width: 218px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
}

select {
    /* margin-left: 20px; */
    text-align: center;
    width: 218px;
    height: 60px;
    border-radius: 12px;
}

.font-change {
    font-size: 20px;
    font-family: 'Mont-reg';
}

.btn.download-btn {
    text-decoration: none;
    /* width: 100%; */
    /* margin: 0 auto; */
    border-radius: 12px;
    border: none;
    cursor: pointer;
    outline-width: 0;
}
/* /* //////FOOTER///// */

footer {
    background-color: #ff7f00;
    padding: 70px 0;
    text-align: center;
    border-top: 1px solid #e1e0e0;
    color: #a6a6a6;
}

footer .logo {
    color: #292929;
    margin-bottom: 30px;
}

.logo-img {
    width: 250px;
}

.footer-rights {
    font-family: 'Mont-thin';
    font-size: 19px;
    color: white;
    text-decoration: none;
}


/* /////media query//// */

@media (max-width: 1100px) {


.canvas-container{
    flex-direction: column;
    
}
canvas {
    width: 500px;
    margin: 20px;
}
.meme-editor {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-panel {
    margin: 0 auto;
}

.logo-img-header {
    margin-left: 10px;
}

}



.mystyle {
    display: block;
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
  }